<form [formGroup]="componentForm" class="index-add-form" *ngIf="addStatus && componentForm">
    <mat-form-field appearance="outline">
        <mat-label>Tipo de componente</mat-label>
        <mat-select formControlName="type">
            <mat-option value="componentText">
                Postagens de texto
            </mat-option>
            <mat-option value="highlight">
                Postagem em destaque
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Categorias</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category">
                {{ category.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<div class="index-add">
    <div class="index-add-form-actions" *ngIf="addStatus">
        <button mat-flat-button color="accent" (click)="toggleAddStatus()">
            Cancelar
        </button>

        <button mat-flat-button color="primary" (click)="addComponent()">
            Adicionar
        </button>
    </div>

    <button *ngIf="!addStatus" mat-flat-button color="accent" (click)="toggleAddStatus()">
        + adicionar componente
    </button>
</div>
