<form [formGroup]="formBase" *ngIf="formBase" class="register-form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="formBase.get('title').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Subtitulo</mat-label>
        <input matInput formControlName="subtitle">
        <mat-error *ngIf="formBase.get('subtitle').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <ng-container *ngIf="ckEditorLoaded">
        <ckeditor [editor]="editor" [config]="editorConfig" [data]="formBase.get('content').value" (change)="contentChange($event)"></ckeditor>
    </ng-container>

    <app-image-uploader [imageControl]="formBase.get('image')" class="m-top-24"></app-image-uploader>
</form>
