@import 'variable';

.register-form {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    max-width: 100%;

    @include mq('tablet', max) {
        max-width: 90%;
    }

    .mat-flat-button {
        min-height: 50px;
    }
}
