@import 'variable';

.authentication-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-pink-gradient;

    &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba($color: $color-black, $alpha: .25);

        @include mq("tablet-small", max) {
            width: 90vw;
            height: 85vh;
        }
    }

    &-icon {
        font-size: 60px;
        width: 60px;
        height: 60px;
        margin-top: 8px;
    }

    p {
        width: 200px;
        max-width: 100%;
        font-size: 16px;
        text-align: center;
        margin: 0 0 16px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-form-field, .mat-button {
    width: 300px;
    max-width: 90%;
}

.mat-button {
    height: 50px;
    margin-bottom: 8px;
}
