<ngx-ui-loader pbColor="#f0134d" fgsColor="#f0134d" fgsType="rectangle-bounce"></ngx-ui-loader>

<div class="authentication-login">
    <div class="authentication-login-card">
        <mat-icon class="authentication-login-icon">people</mat-icon>
        <p>Entre com suas credenciais para efetuar o login.</p>
        <form [formGroup]="loginForm" (submit)="signIn()">
            <mat-form-field appearance="outline">
                <mat-label>
                    Usuário
                </mat-label>
                <input
                    matInput
                    formControlName="username">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    Senha
                </mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button type="submit" mat-button color="primary">Entrar</button>
        </form>
    </div>
</div>
