<app-title sectionUrl="post" section="postagens" page="cadastro"></app-title>

<ng-container *ngIf="!!postType">

    <div class="register-description" *ngIf="postType.get('type').hasError('required')">
        Escolha o tipo de postagem.
    </div>

    <form [formGroup]="postType" (submit)="onSubmit()" *ngIf="postType" class="register-form">
        <mat-form-field appearance="outline">
            <mat-label>Tipo de postagem</mat-label>
            <mat-select formControlName="type">
                <mat-option value="postText">Texto</mat-option>
                <mat-option value="postForm">Formulário</mat-option>
            </mat-select>
        </mat-form-field>

        <app-post-text [parentForm]="postType" [post]="post" *ngIf="postType.get('type').value === 'postText'"></app-post-text>

        <app-post-form [parentForm]="postType" [post]="post" *ngIf="postType.get('type').value === 'postForm'"></app-post-form>

        <mat-form-field appearance="outline"
                        *ngIf="postType.get('type').valid &&
                                categories.length">
            <mat-label>Categorias</mat-label>
            <mat-select [compareWith]="compareObjects" formControlName="categories" multiple>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{
                        category.name
                    }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="postType.get('categories').hasError('required')">Campo obrigatório!</mat-error>
        </mat-form-field>

        <button type="submit"
                mat-flat-button
                color="primary"
                *ngIf="!postType.get('type').hasError('required')">{{ isEdit ? 'Editar' : 'Criar' }} postagem</button>
    </form>
</ng-container>

