@import '~@angular/material/theming';

@include mat-core();

$my-primary: (
    50 : #7d0126,
    100 : #7d0126,
    200 : #7d0126,
    300 : #7d0126,
    400 : #7d0126,
    500 : #7d0126,
    600 : #7d0126,
    700 : #7d0126,
    800 : #7d0126,
    900 : #7d0126,
    A100 : #7d0126,
    A200 : #7d0126,
    A400 : #7d0126,
    A700 : #7d0126,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-accent: (
    50 : #fcb445,
    100 : #fcb445,
    200 : #fcb445,
    300 : #fcb445,
    400 : #fcb445,
    500 : #fcb445,
    600 : #fcb445,
    700 : #fcb445,
    800 : #fcb445,
    900 : #fcb445,
    A100 : #fcb445,
    A200 : #fcb445,
    A400 : #fcb445,
    A700 : #fcb445,
    contrast: (
        50 : #333,
        100 : #333,
        200 : #333,
        300 : #333,
        400 : #333,
        500 : #333,
        600 : #333,
        700 : #333,
        800 : #333,
        900 : #333,
        A100 : #333,
        A200 : #333,
        A400 : #333,
        A700 : #333,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($my-primary);
$candy-app-accent:  mat-palette($my-accent);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
