//Colors
$color-primary: #7d0126;
$color-accent: #fcb445;
$color-black: #333;
$color-black-light: #ebebeb;
$color-white: #fff;
$color-yellow-light: rgb(248, 247, 176);
$color-black-gradient: linear-gradient(0deg, rgb(29, 29, 29) 0%, rgb(56, 56, 56) 48%, rgb(63, 63, 63) 100%);
$color-pink-gradient: linear-gradient(0deg, rgb(58, 5, 19) 0%, rgb(121, 8, 38) 48%, rgb(194, 17, 64) 100%);


//breakpoints

$bk-small: 480px;

$breakpointsList: (
    "phone-small":  360px,
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 600px,
    "tablet":       768px,
    "menu-responsive": 1200px,
    "tablet-wide":  1024px,
    "desktop":      1200px,
    "desktop-wide": 1440px,
    "desktop-wide-md": 1600px,
    "desktop-wide-lg": 1920px,
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpointsList, $width) {
        $width: map_get($breakpointsList, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
