<div class="title">
    <mat-chip-list *ngIf="section">
        <mat-chip [routerLink]="['/dashboard/'+sectionUrl]" color="primary" selected>
            <mat-icon>keyboard_arrow_left</mat-icon>
            {{ section }}
        </mat-chip>
    </mat-chip-list>
    <h1 *ngIf="page"> - {{ page }}</h1>
</div>
