@import 'variable';

.title {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    h1 {
        font-size: 22px;
        text-transform: uppercase;
        margin-left: 8px;
    }

    .mat-chip {
        text-transform: uppercase;
        cursor: pointer;
        padding-right: 24px;
    }

    .mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
        margin-right: 3px;
    }
}
