@import 'variable';

.not-found-alert {
    padding: 10px;
    margin: 10px auto;
    background-color: $color-yellow-light;
    border-radius: 5px;
    color: $color-black;
    font-weight: 300;
    width: 90%;
    max-width: 500px;
}

.category {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;

    &-result {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &-line {
            width: 75px;
            max-width: 50vw;
            height: 3px;
            background-color: $color-primary;
            margin: 10px auto;
        }

        &-title {
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 9px;
        }

        &-post-list {
            width: 100%;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            margin: 20px auto;

            @include mq('desktop-wide-md') {
                grid-template-columns: 20% 20% 20% 20% 20%;
            }

            @include mq('tablet-wide', max) {
                grid-template-columns: 33% 33% 33%;
            }

            @include mq('tablet', max) {
                grid-template-columns: 50% 50%;
            }

            @include mq('tablet-small', max) {
                grid-template-columns: 100%;
            }

            &-item {
                padding: 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &-title {
                    text-align: center;
                    font-size: 16px;
                }

                &-date {
                    text-align: center;
                    margin: 15px;
                }

                &-line {
                    width: 75px;
                    height: 1px;
                    background-color: $color-black;
                    margin: auto;
                }

                .mat-flat-button {
                    width: 140px;
                    margin: 10px auto 0;
                }
            }
        }

        .mat-button {
            width: 90%;
            max-width: 500px;
        }
    }
}
