<ngx-ui-loader pbColor="#fcb445" fgsColor="#fcb445" overlayColor="rgba(125,1,38, 1)" fgsType="cube-grid" text="Carregando" textPosition="center-center" textColor="#fcb445"></ngx-ui-loader>

<div class="category">
    <app-top-menu></app-top-menu>

    <app-highlight [showMore]="false" [component]="categoryIndex" *ngIf="categoryIndex"></app-highlight>

    <div class="category-result">
        <div class="category-result-line"></div>
        <div class="category-result-title">postagens</div>

        <div class="category-result-post-list">
            <div class="category-result-post-list-item" *ngFor="let post of posts; let i = index;">
                <div class="category-result-ost-list-item-title">
                    {{ post.postText ? post.postText.title :
                        post.postForm ? post.postForm.title : '' }}
                </div>

                <div class="category-result-post-list-item-date">
                    {{ post.dateCreated | date: 'dd/MM/yyyy' }}
                </div>

                <div class="category-result-post-list-item-line"></div>

                <button mat-flat-button
                    color="accent"
                    [routerLink]="['/post', post.id]">
                    continuar lendo
                </button>
            </div>
        </div>

        <div class="not-found-alert" *ngIf="!posts.length && !showMore">
            Nenhuma postagem foi encontrada.
        </div>

        <button type="button" mat-button color="accent" (click)="getPosts(true)" *ngIf="!loading && showMore">
            ver mais
        </button>
    </div>

    <app-general-post-list></app-general-post-list>

    <app-footer></app-footer>
</div>
