<div class="top-menu">
    <a [routerLink]="['']">
        <div class="top-menu-title">
            <img src="../../../assets/top-menu.png" alt="rdPortal">
        </div>
    </a>

    <div class="top-menu-categories">
        <a [routerLink]="['/']">
            Ínicio
        </a>

        <a class="top-menu-categories-others" (click)="toggleMobileOptions()">
            Categorias
        </a>

        <div class="top-menu-categories-options-desktop" *ngIf="menu.length">
            <a [routerLink]="['/category', option.category.id]" *ngFor="let option of menu">
                {{ option.category.name }}
            </a>
        </div>

        <button type="button" mat-button (click)="openSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="top-menu-categories-options-mobile" *ngIf="menu.length" [ngClass]="{'opened': toggleMobile}">
        <a [routerLink]="['/category', option.category.id]" *ngFor="let option of menu">
            {{ option.category.name }}
        </a>
    </div>

    <div class="top-menu-search" *ngIf="searchStatus">
        <form (submit)="onSubmit()">
            <input type="text" [formControl]="searchControl" placeholder="Digite sua pesquisa...">
        </form>

        <button type="button" mat-button (click)="closeSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
