@import 'variable';

.top-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: $color-primary;

    a {
        text-decoration: none;
    }

    &-title {
        display: flex;
        flex-direction: row;
        padding: 10px;

        p {
            font-size: 36px;
            margin: 0;
        }

        img {
            max-width: 90vw;
            height: 50px;
        }

        &-pink {
            color: $color-primary;
        }

        &-black-light {
            color: $color-black-light;
        }
    }

    &-categories {
        display: flex;
        flex-direction: row;
        align-items: center;

        a, &-options-desktop a, &-options-mobile a {
            text-decoration: none;
            color: $color-accent;
            text-transform: uppercase;
            padding: 10px;


            @include mq('tablet', max) {
                text-align: center;
            }

            &:hover {
                color: rgba($color: $color-accent, $alpha: .5);
                cursor: pointer;
            }
        }

        .mat-button {
            color: $color-accent;
            padding: 5px;
            margin-left: 10px;
            min-width: 0 !important;
            text-transform: uppercase;
        }

        &-others {
            @include mq('tablet') {
                display: none;
            }
        }

        &-options-desktop {
            @include mq('tablet', max) {
                display: none;
            }
        }

        &-options-mobile {
            display: none;

            &.opened {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    &-search {
        left: 0;
        top: 0;
        right: 0;
        bottom: 45px;
        position: absolute;
        display: grid;
        grid-template-columns: 90% 10%;
        background-color: $color-accent;
        animation-name: top-down;
        animation-duration: .4s;

        @include mq('tablet-small', max) {
            grid-template-columns: 80% 20%;
        }

        input {
            background-color: $color-accent;
            border: none;
            outline: none;
            font-size: 24px;
            padding: 0 16px;
            color: $color-primary;
            width: calc(100% - 32px);
            height: 100%;
        }


        .mat-button {
            height: 100%;
            color: $color-primary;
        }

    }
}


@keyframes top-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
