@import 'variable';

:host {
    @include mq('desktop') {
        flex: 3;
    }
}
.dashboard-layout-content {
    height: calc(100% - 50px);
    padding-top: 50px;
    overflow: auto;

    @include mq('tablet') {
        // Scroll style
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Bg Scroll */
        &::-webkit-scrollbar-track {
            background: $color-black-light;
        }

        /* Cor do Scroll */
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.54);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }


    &-top-bar {
        width: 100%;
        height: 50px;
        display: flex;
        position: fixed;
        flex-direction: row;
        align-content: center;
        border-bottom: 1px solid rgba($color: $color-black, $alpha: .05);
        background-color: $color-white;
        z-index: 899;
        top: 0;

        .toggle-icon {
            margin: 8px;
        }
    }

    &-container {
        max-width: 100%;
        overflow-x: auto;
        padding: 16px;
    }
}

