<div class="dashboard-layout-content">
    <div class="dashboard-layout-content-top-bar">
        <button mat-button color="primary" class="toggle-icon" (click)="toggleEvent()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="dashboard-layout-content-container">
        <ng-content></ng-content>
    </div>
</div>
