@import 'variable';

.category-title {
    font-size: 24px;
    color: $color-primary;
    font-weight: 300;
    background: $color-black-light;
    padding: 5px 10px;
    margin: 30px 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
}

.not-found-alert {
    padding: 10px;
    margin: 10px;
    background-color: $color-yellow-light;
    border-radius: 5px;
    color: $color-black;
    font-weight: 300;
}

.mat-button {
    width: 100%;
    margin-top: 20px;
}

.list {
    width: 100%;

    &-image {
        opacity: .75;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &-container {
        display: grid;
        margin: auto;
        grid-template-columns: auto auto auto;



        @include mq('desktop-wide-md') {
            grid-template-columns: auto auto auto auto auto;
        }

        @include mq('tablet-wide', max) {
            grid-template-columns: auto auto auto;
        }

        @include mq('tablet', max) {
            grid-template-columns: auto auto;
        }

        @include mq('tablet-small', max) {
            grid-template-columns: auto;
        }

        > .mat-card {
            margin: 8px;
            color: rgb(100, 100, 100);

            .mat-card-actions{
                display: flex;
                justify-content: center;

                .mat-button-base {
                    margin: 0;
                }
            }
        }
    }
}
