<div class="category-title">
    {{ category.name }}
</div>
<section class="list" *ngIf="!!posts.length">
    <div class="list-container">

        <mat-card *ngFor="let post of posts">
            <mat-card-header>
                <div mat-card-avatar
                    class="list-image"
                    [ngStyle]="{ 'background-image': 'url(' + getImageUrl(post) + ')' }"></div>
                <mat-card-title>{{ post.postText ? post.postText.title :
                                    post.postForm ? post.postForm.title : '' }}</mat-card-title>
            </mat-card-header>

            <mat-card-actions>
                <button mat-button [routerLink]="['register', post.id]">
                    <mat-icon>edit</mat-icon>
                    Editar
                </button>
                <button mat-button (click)="deletePost(post.id)">
                    <mat-icon>delete</mat-icon>
                    Excluir
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>

<div class="not-found-alert" *ngIf="!posts.length && firstList">
    Nenhuma postagem foi encontrada.
</div>

<button mat-button type="button" color="primary" *ngIf="!!posts.length" (click)="getPosts(true)">
    ver mais
</button>
