@import 'variable';

.image-uploader {
    width: calc(100% - 32px);
    padding: 16px;
    text-align: center;
    background-color: $color-black-light;
    margin: 0 0 16px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    label {
        display: block;
        font-size: 16px;
        text-transform: uppercase;
        border: 1px dotted $color-primary;
        width: calc(100% - 48px);
        padding: 24px;
        margin: auto;

        &:hover {
            cursor: pointer;
            color: $color-primary;
        }
    }

    img {
        max-width: 100%;
        max-height: 50vh;
        border-radius: 5px;
    }

    button {
        text-transform: uppercase;
        width: 100%;
        margin-top: 8px;
    }
}
