<div class="image-uploader">
    <form>
        <ng-container *ngIf="!imageUrl">
            <label for="upload">Upload de imagem - clique aqui</label>
        </ng-container>

        <input type="file"
                id="upload"
                (change)="imageChange($event.target.files[0])"
                accept="image/png, image/jpeg"
                hidden>

        <ng-container *ngIf="imageUrl">
            <img [src]="imageUrl"/>
        </ng-container>
    </form>

    <button *ngIf="imageUrl" mat-flat-button color="accent" (click)="deleteImage()">trocar imagem</button>
</div>

