<form [formGroup]="slideForm" class="slide-add-form" *ngIf="addStatus && slideForm">
    <mat-form-field appearance="outline">
        <mat-label>Postagens</mat-label>
        <mat-select formControlName="post">
            <mat-option *ngFor="let post of posts" [value]="post">
                {{ post.postText ? post.postText.title :
                    post.postForm ? post.postForm.title : '' }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<div class="slide-add">
    <div class="slide-add-form-actions" *ngIf="addStatus">
        <button mat-flat-button color="accent" (click)="toggleAddStatus()">
            Cancelar
        </button>

        <button mat-flat-button color="primary" (click)="addComponent()">
            Adicionar
        </button>
    </div>

    <button *ngIf="!addStatus" mat-flat-button color="accent" (click)="toggleAddStatus()">
        + adicionar slide item
    </button>
</div>
