<div class="dashboard-layout-menu" [ngClass]="{'showMenu': showMenu}">
    <div class="dashboard-layout-menu-logo">
        <mat-icon>apps</mat-icon>
        <h1>dashboard</h1>


        <button mat-button color="primary" class="toggle-icon" (click)="toggleMenuEvent()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <app-user></app-user>

    <button mat-raised-button color="primary" [routerLink]="['profile']">Meu perfil</button>

    <ul>
        <li class="divisor">menu</li>
        <li [ngClass]="{'active': isRoute('/dashboard')}"
            [routerLink]="['/dashboard']"
            (click)="hideMenuEvent()">
            <mat-icon>home</mat-icon>
            Inicio
        </li>
        <li [ngClass]="{'active': hasRoute('post')}"
            *ngxPermissionsOnly="['ROLE_USER']"
            [routerLink]="['post']"
            (click)="hideMenuEvent()">
            <mat-icon>post_add</mat-icon>
            Postagens
        </li>
        <li [ngClass]="{'active': hasRoute('categories')}"
            *ngxPermissionsOnly="['ROLE_MODERATOR']"
            [routerLink]="['categories']"
            (click)="hideMenuEvent()">
            <mat-icon>widgets</mat-icon>
            Categorias
        </li>
        <li [ngClass]="{'active': hasRoute('slide')}"
            *ngxPermissionsOnly="['ROLE_MODERATOR']"
            [routerLink]="['slide']"
            (click)="hideMenuEvent()">
            <mat-icon>view_carousel</mat-icon>
            Slide
        </li>
        <li [ngClass]="{'active': hasRoute('index')}"
            *ngxPermissionsOnly="['ROLE_MODERATOR']"
            [routerLink]="['index']"
            (click)="hideMenuEvent()">
            <mat-icon>web</mat-icon>
            Index
        </li>
        <li [ngClass]="{'active': hasRoute('menu')}"
            *ngxPermissionsOnly="['ROLE_MODERATOR']"
            [routerLink]="['menu']"
            (click)="hideMenuEvent()">
            <mat-icon>vertical_split</mat-icon>
            Menu
        </li>
        <li [ngClass]="{'active': hasRoute('users')}"
            *ngxPermissionsOnly="['ROLE_ADMIN']"
            [routerLink]="['users']"
            (click)="hideMenuEvent()">
            <mat-icon>group</mat-icon>
            Usuários
        </li>
    </ul>

    <button mat-button color="primary" (click)="logout()">Sair</button>
</div>
