@import 'variable';

:host {
    @include mq('desktop') {
        flex: 1;
    }
}
.dashboard-layout-menu {
    min-height: 100%;
    background: $color-black-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;

    @include mq('desktop', max) {
        display: none;
        position: fixed;
        width: 40vw;
    }

    @include mq('tablet', max) {
        position: fixed;
        width: 100vw;
        height: 100vh;
    }

    &-logo {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: $color-white;
        color: $color-primary;

        border-right: 1px solid rgba($color: $color-black, $alpha: .05);

        .mat-icon {
            margin-left: 16px;
        }

        h1 {
            text-transform: uppercase;
            margin-left: 8px;
            font-size: 18px;
            font-weight: normal;
        }

        .toggle-icon {
            display: none;
            margin-left: auto;
            margin-right: 8px;
            width: 20% !important;

            @include mq('desktop', max) {
                display: block;
            }

            .mat-icon {
                margin: 0;
            }
        }
    }

    ul {
        list-style: none;
        width: 70%;
        margin: 16px 0;
        padding: 0;

        li {
            font-size: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            opacity: .5;

            &:hover, &.active {
                opacity: .75;
                background: $color-white;
                box-shadow: 0px 0px 3px 0px rgba($color: $color-black, $alpha: .1);
                border-radius: 20px;
                cursor: pointer;
            }

            &.divisor {
                text-transform: uppercase;
                padding: 0 16px;
                opacity: .5;
                margin-bottom: 8px;

                &:hover {
                    cursor: default;
                    background: initial;
                    box-shadow: none;
                }
            }

            .mat-icon {
                margin: 0 16px 0 0;
            }
        }
    }

    .mat-raised-button {
        width: 70%;
    }

    .mat-button {
        width: 70%;
    }

}

.showMenu {
    @include mq('desktop', max) {
        display: flex;
    }
    @include mq('desktop') {
        display: none;
    }
}
