<div class="highlight" [ngStyle]="{ 'background-image': 'url(' + component.category.image.url + ')' }">
    <div class="highlight-filter">
        <div class="highlight-title">{{ component.category.name }}</div>
        <div class="highlight-description">{{ component.category.description }}</div>
        <div class="highlight-line"></div>
        <div class="highlight-button" [routerLink]="['/category', component.category.id]" *ngIf="showMore">ver mais</div>
    </div>
</div>
