@import 'variable';

.highlight {
    width: 100vw;
    height: 40vh;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &-filter {
        width: 100%;
        height: 100%;
        background-color: rgba($color: $color-black, $alpha: .6);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &-title {
        color: $color-white;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 9px;
        font-weight: 200;
        margin: 10px auto;
    }

    &-description {
        color: $color-white;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 9px;
        font-weight: 200;
        margin: 10px auto;
        text-align: center;
    }

    &-line {
        width: 75px;
        max-width: 50vw;
        height: 2px;
        margin: 10px auto;
        background-color: $color-white;
    }

    &-button {
        padding: 10px;
        margin: 10px auto;
        border: 2px solid $color-white;
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: 9px;
        font-weight: 200;

        &:hover {
            cursor: pointer;
            color: $color-accent;
            border: 2px solid $color-accent;
            transition: .5s;
        }
    }
}
