<app-title sectionUrl="profile" section="meu perfil"></app-title>

<div class="profile-description">
    Qualquer alteração não poderá ser desfeita, altere apenas o que deseja mudar.
</div>

<form [formGroup]="userForm" (submit)="onSubmit()" *ngIf="userForm" class="profile-form">
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="nomeCompleto" autocomplete="nope">
        <mat-error *ngIf="userForm.get('nomeCompleto').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="userForm.get('email').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nome de usuário</mat-label>
        <input matInput formControlName="username" autocomplete="off">
        <mat-error *ngIf="userForm.get('username').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="off" autocomplete="new-password">
        <mat-hint *ngIf="isEdit">Deixe em branco para manter a senha atual</mat-hint>
        <mat-error *ngIf="userForm.get('password').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <app-image-uploader [imageControl]="userForm.get('image')"></app-image-uploader>

    <mat-form-field appearance="outline">
        <mat-label>Nome Público</mat-label>
        <input matInput formControlName="publicName" autocomplete="nope">
        <mat-error *ngIf="userForm.get('publicName').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descrição Pública</mat-label>
        <input matInput formControlName="publicDescription" autocomplete="nope">
        <mat-error *ngIf="userForm.get('publicDescription').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">atualizar perfil</button>
</form>
