<app-title sectionUrl="menu" section="menu" page="Configurar menu"></app-title>

<app-menu-add [categories]="categories" (newMenu)="addMenu($event)"></app-menu-add>

<div *ngIf="!!menu.length" cdkDropList class="menu-list" (cdkDropListDropped)="drop($event)">
    <div class="menu-list-item" *ngFor="let menuItem of menu; let i = index;" cdkDrag>
        <mat-icon>drag_indicator</mat-icon>
        <div class="order">
            {{ i + 1 }}
        </div>
        <div class="menu">
            {{ menuItem.category.name }}
        </div>
        <div class="action-list">
            <button mat-button color="accent" (click)="deleteMenu(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="action" *ngIf="!!menu.length">
    <button mat-flat-button color="primary" (click)="saveMenu()">
        {{ isEdit ? 'Editar' : 'Salvar' }} menu
    </button>
</div>
