<ngx-ui-loader pbColor="#fcb445" fgsColor="#fcb445" overlayColor="rgba(125,1,38, 1)" fgsType="cube-grid" text="Carregando" textPosition="center-center" textColor="#fcb445"></ngx-ui-loader>

<div class="post">
    <app-top-menu></app-top-menu>

    <div class="post-container">
        <ng-container *ngIf="!!post">

            <div class="post-container-cover" [ngStyle]="{ 'background-image': 'url(' + getImageUrl(post) + ')' }">
                <div class="post-container-cover-filter">
                    <h1 class="post-container-cover-filter-title">
                        {{ getPostTitle(post) }}
                    </h1>
                    <p>
                        {{ post.createdBy.publicName }} {{ post.dateCreated | date: 'dd/MMM/yyyy' }}
                        - Atualizado {{ post.dateUpdated | date : 'dd/MMM/yyyy' }}
                    </p>
                </div>
            </div>

            <h2> {{ getPostSubtitle(post) }} </h2>

            <div class="socialShare">
                <share-buttons
                    [include]="['facebook','twitter','telegram','messenger','whatsapp','copy']"
                    [show]="2"
                    [autoSetMeta]="false"
               ></share-buttons>
            </div>

            <div class="post-container-textContent"
                    *ngIf="!!post.postText"
                    [innerHtml]="post.postText.content"></div>

            <app-post-form [postForm]="post.postForm" *ngIf="!!post.postForm"></app-post-form>

            <div class="socialShare">
                <share-buttons
                    [include]="['facebook','twitter','telegram','messenger','whatsapp','copy']"
                    [show]="2"
                    [autoSetMeta]="false"
               ></share-buttons>
            </div>

            <div class="container-width">
                <mat-chip-list>
                    <mat-chip *ngFor="let category of post.categories">
                        {{ category.name }}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div class="post-container-bio" *ngIf="!!post.createdBy">
                <div class="post-container-bio-icon">
                    <div class="post-container-bio-icon-rounded"
                    [ngStyle]="{ 'background-image': 'url(' + post.createdBy.image.url + ')' }"></div>
                </div>
                <div class="post-container-bio-info">
                    <h1>{{ post.createdBy.publicName }}</h1>
                    <h2>{{ post.createdBy.publicDescription }}</h2>
                </div>
            </div>
        </ng-container>
    </div>

    <app-footer></app-footer>
</div>
