@import 'variable';

.post {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;

    @include mq('tablet') {
        // Scroll style
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Bg Scroll */
        &::-webkit-scrollbar-track {
            background: $color-black-light;
        }

        /* Cor do Scroll */
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.54);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }


    &-container {
        min-height: 90vh;

        &-cover {
            width: 100vw;
            min-height: 50vh;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;

            &-filter {
                width: 100%;
                height: 100%;
                min-height: 50vh;
                background-color: rgba($color: $color-black, $alpha: .65);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;

                h1 {
                    width: 60%;
                    color: $color-white;
                    font-size: 40px;
                    margin-bottom: 10px;

                    @include mq('tablet-wide', max) {
                        width: 90%;
                        font-size: 28px;
                    }
                }

                p {
                    width: 60%;
                    color: $color-white;

                    @include mq('tablet-wide', max) {
                        width: 90%;
                    }
                }
            }
        }


        h2 {
            width: 60%;
            font-size: 24px;
            margin: 50px auto 25px;

            @include mq('tablet-wide', max) {
                width: 90%;
                font-size: 22px;
            }
        }

        &-textContent {
            width: 60%;
            font-size: 18px;
            margin: auto;

            @include mq('tablet-wide', max) {
                width: 90%;
            }

            .image {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                max-width: 500px;
                margin: auto;
                border: 1px solid $color-black-light;
                border-radius: 5px;

                img {
                    width: 100%;
                }

                figcaption {
                    width: 90%;
                    font-size: 18px;
                    font-weight: 300;
                    margin: 10px;
                }
            }

            blockquote {
                border-left: 4px solid $color-black-light;
                margin: 10px auto;
                padding: 5px 10px;
                color: rgba($color: $color-black, $alpha: .75);
                font-weight: 300;
            }

            p {
                font-weight: 300;
            }

            a {
                text-decoration: none;
                font-weight: 500;
                color: $color-primary;
            }

            ul, ol {
                font-weight: 300;
            }
        }

        .socialShare {
            width: 60%;
            margin: 0 auto 50px;
            border-bottom: 1px solid $color-black;

            @include mq('tablet-wide', max) {
                width: 90%;
            }
        }

        .container-width {
            width: 60%;
            margin: auto;

            @include mq('tablet-wide', max) {
                width: 90%;
            }
        }

        &-bio {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 60%;
            margin: 22px auto 50px;

            @include mq('tablet-wide', max) {
                width: 90%;
            }

            &-icon {

                &-rounded {
                    opacity: .75;
                    width: 75px;
                    height: 75px;
                    background: $color-white;
                    border-radius: 100%;
                    margin: auto;
                    box-shadow: 0px 0px 3px 0px rgba($color: $color-black, $alpha: .25);
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }

            &-info {
                width: 80%;
                padding: 8px;

                h1 {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                h2 {
                    font-size: 12px;
                    font-weight: normal;
                    text-transform: uppercase;
                    color: $color-primary;
                    margin: 5px 0;
                }
            }
        }
    }
}
