@import 'variable';

.postForm {
    form {
        width: 60%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        margin: auto;

        @include mq('tablet-wide', max) {
            width: 90%;
        }

        .mat-form-field {
            width: 100%;
        }

        .mat-flat-button {
            margin: 10px auto;

            @include mq('tablet-wide', max) {
                width: 100%;
            }
        }
    }
}
