<div class="postForm">
    <form [formGroup]="form" *ngIf="form">
        <div formArrayName="answers">
            <ng-container *ngFor="let item of answersForm.controls; let i = index;">
                <div class="postForm-aswers" [formGroupName]="i">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ answersForm.at(i).get('question').value }}</mat-label>
                        <input matInput formControlName="answer">
                        <mat-error *ngIf="answersForm.at(i).get('answer').hasError('required')">Campo obrigatório!</mat-error>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>

        <button mat-flat-button color="primary">
            enviar
        </button>
    </form>
</div>
