<div class="menu-user" *ngIf="user">
    <div class="menu-user-icon">
        <div class="menu-user-icon-rounded"
        [ngStyle]="{ 'background-image': 'url(' + getImageUrl(user) + ')' }"></div>
    </div>
    <div class="menu-user-info">
        <h1>{{ user.nomeCompleto }}</h1>
        <h2>{{ role }}</h2>
    </div>
</div>
