@import 'variable';

.menu-user {
    display: flex;
    margin: 16px auto;
    flex-direction: row;
    align-items: center;
    max-width: 95%;

    &-icon {

        &-rounded {
            opacity: .75;
            width: 75px;
            height: 75px;
            background: $color-white;
            border-radius: 100%;
            margin: auto;
            box-shadow: 0px 0px 3px 0px rgba($color: $color-black, $alpha: .25);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &-info {
        width: 80%;
        padding: 8px;

        h1 {
            font-size: 16px;
            font-weight: 500;
        }

        h2 {
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            color: $color-primary;
        }
    }
}
