<form [formGroup]="formBase" *ngIf="formBase" class="register-form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="formBase.get('title').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Subtitulo</mat-label>
        <input matInput formControlName="subtitle">
        <mat-error *ngIf="formBase.get('subtitle').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <div class="register-form-questions" formArrayName="questions" *ngIf="!!questions.length">
        <ng-container *ngFor="let question of questions.controls; let i = index;">
            <mat-form-field appearance="outline">
                <mat-label>Pergunta {{ i + 1 }}</mat-label>
                <input matInput [formControlName]="i">
                <mat-error *ngIf="question.hasError('required')">Campo obrigatório!</mat-error>
            </mat-form-field>

            <div class="actions">
                <button type="button" color="accent" mat-button (click)="deleteQuestion(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>


    <button type="button" mat-button color="primary" (click)="addQuestion()">
        <mat-icon>add_box</mat-icon>
        pergunta
    </button>

    <app-image-uploader [imageControl]="formBase.get('image')" class="m-top-24"></app-image-uploader>
</form>
