@import 'variable';

.register-form {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    max-width: 100%;

    @include mq('tablet', max) {
        max-width: 90%;
    }

    .mat-flat-button {
        min-height: 50px;
    }

    &-questions {
        display: grid;
        grid-template-columns: 80% 20%;

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: calc(100% - 1.34375em);
        }
    }
}
