<app-title sectionUrl="post" section="postagens" page="inicio"></app-title>

<app-action-list>
    <button mat-flat-button color="accent" [routerLink]="['register']">
        cadastrar
    </button>
</app-action-list>

<app-category-posts *ngFor="let category of categories" [category]="category"></app-category-posts>
