@import 'variable';

.action-list {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    background: $color-black-light;
    margin: 16px 0 8px;
    border-radius: 5px;
    padding: 8px 0;
}

::ng-deep {
    .action-list {
        .mat-flat-button,
        .mat-raised-button,
        .mat-button {
            margin: 0 8px;
            text-transform: uppercase;
        }
    }
}
