<div class="component-text">
    <div class="component-text-line"></div>
    <div class="component-text-title" [routerLink]="['/category', component.category.id]">{{ component.category.name }}</div>

    <div class="component-text-post-list">
        <div class="component-text-post-list-item" *ngFor="let post of posts; let i = index;">
            <a [routerLink]="['/post', post.id]">
                <div class="component-text-post-list-item-title">
                    {{ post.postText ? post.postText.title :
                        post.postForm ? post.postForm.title : '' }}
                </div>

                <div class="component-text-post-list-item-date">
                    {{ post.dateCreated | date: 'dd/MM/yyyy' }}
                </div>

                <div class="component-text-post-list-item-line"></div>

            </a>
        </div>
    </div>
</div>
