@import 'variable';

.component-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &-line {
        width: 75px;
        max-width: 50vw;
        height: 3px;
        background-color: $color-primary;
        margin: 10px auto;
    }

    &-title {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 9px;
        text-align: center;
    }

    &-post-list {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 20px auto;

        @include mq('desktop-wide-md') {
            grid-template-columns: 20% 20% 20% 20% 20%;
        }

        @include mq('tablet-wide', max) {
            grid-template-columns: 33% 33% 33%;
        }

        @include mq('tablet', max) {
            grid-template-columns: 50% 50%;
        }

        @include mq('tablet-small', max) {
            grid-template-columns: 100%;
        }

        &-item {
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            a {
                text-decoration: none;
                color: $color-black;
                transition: 1s;
            }

            &-title {
                text-align: center;
                font-size: 16px;
            }

            &-date {
                text-align: center;
                margin: 15px;
            }

            &-line {
                width: 75px;
                height: 1px;
                background-color: $color-black;
                margin: auto;
                transition: 1s;
            }

            &:hover {
                a {
                    color: $color-primary;
                }

                .component-text-post-list-item-line {
                    background-color: $color-primary;
                }
            }

            .mat-flat-button {
                width: 140px;
                margin: 10px auto 0;
            }
        }
    }
}
