<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{ data.msg }}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
  <button mat-button color="warn" [mat-dialog-close]="true" >Continuar</button>
</div>
