<app-title sectionUrl="categories" section="categorias" page="cadastro"></app-title>

<div class="register-description" *ngIf="!isEdit">
    Preencha todos os campos do formulário com dados válidos para a criação de uma nova categoria do sistema.
</div>

<div class="register-description" *ngIf="isEdit">
    Qualquer alteração não poderá ser desfeita, altere apenas o que deseja mudar.
</div>

<form [formGroup]="categoryForm" (submit)="onSubmit()" *ngIf="categoryForm" class="register-form">
    <mat-form-field appearance="outline">
        <mat-label>Nome da categoria</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="categoryForm.get('name').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="categoryForm.get('description').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <app-image-uploader [imageControl]="categoryForm.get('image')"></app-image-uploader>

    <button type="submit" mat-flat-button color="primary">{{ isEdit ? 'Editar' : 'Criar' }} categoria</button>
</form>
