@import 'variable';

.slide-carousel {
    width: 100vw;
    height: 60vh;
    background-color: $color-black;
    position: relative;
    overflow: hidden;

    &-prev {
        position: absolute;
        left: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &-next {
        position: absolute;
        right: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .mat-icon {
        width: 50px;
        height: 50px;
        font-size: 50px;
        color: $color-white;
    }

    &-item {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &-filter {
            width: 100%;
            height: 100%;
            background-color: rgba($color: $color-black, $alpha: .6);
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        &-content {
            width: 400px;
            max-width: calc(100% - 120px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 36px;

            &-title {
                color: $color-white;
                font-size: 24px;
                text-align: center;
            }
        }
    }
}
