<div class="slide-carousel" *ngIf="slides.length">
    <div class="slide-carousel-prev" (click)="prevSlide()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div class="slide-carousel-next" (click)="nextSlide()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </div>

    <ng-container *ngFor="let slide of slides; let i = index;">

        <ng-container *ngIf="slideCounter === i">
            <div class="slide-carousel-item"
                [@enterAnimation]="slideCounter === i"
                [ngStyle]="{ 'background-image': 'url(' + getSlideImageUrl(slide) + ')' }">
                <div class="slide-carousel-item-filter">
                    <div class="slide-carousel-item-content">
                        <p class="slide-carousel-item-content-title">
                            {{ getSlideContentTitle(slide) }}
                        </p>

                        <button mat-flat-button
                            [routerLink]="['post', slide.post.id]"
                            color="accent">
                            continuar lendo
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

</div>
