<app-title sectionUrl="categories" section="categorias" page="inicio"></app-title>

<app-action-list>
    <button mat-flat-button color="accent" [routerLink]="['register']">
        cadastrar
    </button>
</app-action-list>

<section class="list categories-list">
    <div class="list-container" *ngIf="(categories$ | async) as categories">

        <mat-card *ngFor="let category of categories">
            <mat-card-header>
                <mat-card-title>{{ category.name }}</mat-card-title>
            </mat-card-header>

            <mat-card-actions>
                <button mat-button [routerLink]="['register', category.id]">
                    <mat-icon>edit</mat-icon>
                    Editar
                </button>
                <button mat-button (click)="deleteCategory(category.id)">
                    <mat-icon>delete</mat-icon>
                    Excluir
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
