@import 'variable';

.list {
    width: 100%;

    &-image {
        opacity: .75;
        background-image: url('https://image.flaticon.com/icons/svg/21/21104.svg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &-container {
        display: grid;
        margin: auto;
        grid-template-columns: auto auto auto auto;



        @include mq('desktop-wide-md') {
            grid-template-columns: auto auto auto auto auto;
        }

        @include mq('tablet-wide', max) {
            grid-template-columns: auto auto auto;
        }

        @include mq('tablet', max) {
            grid-template-columns: auto auto;
        }

        @include mq('tablet-small', max) {
            grid-template-columns: auto;
        }

        > .mat-card {
            margin: 8px;
            color: rgb(100, 100, 100);

            .mat-card-actions{
                display: flex;
                justify-content: center;

                .mat-button-base {
                    margin: 0;
                }
            }
        }
    }
}


::ng-deep {
    .categories-list {
        .mat-card-header-text {
            margin: 0 auto !important;
        }
    }
}
