<app-title sectionUrl="index" section="index" page="Configurar index pública"></app-title>

<app-index-add *ngIf="categories" (newComponent)="addComponent($event)" [categories]="categories"></app-index-add>

<div class="title" *ngIf="!!indexComponents.length">
    Adicione e ordene os componentes, isso irá refletir na página principal pública
</div>

<div *ngIf="!!indexComponents.length" cdkDropList class="component-list" (cdkDropListDropped)="drop($event)">
    <div class="component-list-item" *ngFor="let component of indexComponents; let i = index;" cdkDrag>
        <mat-icon>drag_indicator</mat-icon>
        <div class="order">
            {{ i + 1 }}
        </div>
        <div class="type">
            {{ component.type === 'componentText' ? 'Postagens de Texto' :
                component.type === 'highlight' ? 'Postagem em destaque' : component.type }}
        </div>
        <div class="category">
            {{ component.category.name }}
        </div>
        <div class="action-list">
            <button mat-button color="accent" (click)="deleteComponent(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="action" *ngIf="!!indexComponents.length">
    <button mat-flat-button color="primary" (click)="saveComponentList()">
        {{ isEdit ? 'Editar' : 'Salvar' }} index
    </button>
</div>
