<form [formGroup]="menuForm" class="menu-add-form" *ngIf="addStatus && menuForm">
    <mat-form-field appearance="outline">
        <mat-label>Categorias</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let item of categories" [value]="item">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<div class="menu-add">
    <div class="menu-add-form-actions" *ngIf="addStatus">
        <button mat-flat-button color="accent" (click)="toggleAddStatus()">
            Cancelar
        </button>

        <button mat-flat-button color="primary" (click)="addMenuItem()">
            Adicionar
        </button>
    </div>

    <button *ngIf="!addStatus" mat-flat-button color="accent" (click)="toggleAddStatus()">
        + adicionar menu item
    </button>
</div>
