@import 'variable';

.menu-add {
    width: calc(100% - 10px);
    margin: 10px 0;
    padding: 10px;
    background: $color-black-light;
    border-radius: 5px;

    .mat-flat-button {
        display: block;
        margin-left: auto;
    }

    &-form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .mat-flat-button {
                margin-left: 10px;
            }
        }
    }
}
