<div class="general-post-list" *ngIf="posts.length">
    <div class="general-post-list-line"></div>
    <div class="general-post-list-title">Últimas postagens</div>

    <ng-container *ngFor="let post of posts">
        <div class="general-post-list-item" [routerLink]="['/post', post.id]">
            <div class="general-post-list-item-image"
            [ngStyle]="{ 'background-image': 'url(' + getImageUrl(post) + ')' }">
            </div>

            <div class="general-post-list-item-info">
                <div class="general-post-list-item-info-title">{{ getPostTitle(post) }}</div>
                <div class="general-post-list-item-info-created">
                    <p>{{ post.dateCreated | date: 'dd/MM/yyyy' }} - {{ post.createdBy.username }}</p>
                </div>
            </div>
        </div>
    </ng-container>

    <button type="button" mat-button color="accent" (click)="getPosts(true)" *ngIf="!loading">
        ver mais
    </button>
</div>
