@import 'variable';

.general-post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    &-line {
        width: 75px;
        max-width: 50vw;
        height: 3px;
        background-color: $color-primary;
        margin: 10px auto;
    }

    &-title {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 9px;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }

    &-item {
        width: 500px;
        max-width: 90vw;
        margin: 10px auto;
        display: flex;
        flex-direction: row;

        &:hover {
            cursor: pointer;
        }

        &-image {
            width: 100px;
            height: 100px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
        }

        &-info {
            width: calc(100% - 100px);
            display: flex;
            flex-direction: column;

            &-title {
                margin: 5px 10px;
            }

            &-created {
                margin: 5px 10px;
            }
        }
    }

    .mat-button {
        width: 500px;
        max-width: 90vw;
        margin: auto;
    }
}
