@import 'theme';
@import 'variable';
@import '~@ngx-share/button/themes/default/default-theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

.m-top-16 {
    margin-top: 16px;
}

.m-top-24 {
    margin-top: 24px;
}
