<ngx-ui-loader pbColor="#fcb445" fgsColor="#fcb445" overlayColor="rgba(125,1,38, 1)" fgsType="cube-grid" text="Carregando" textPosition="center-center" textColor="#fcb445"></ngx-ui-loader>

<div class="search">
    <app-top-menu></app-top-menu>

    <app-slide-carousel [slides]="slidePosts"></app-slide-carousel>

    <div class="search-result">
        <div class="search-result-line"></div>
        <div class="search-result-title">resultado</div>

        <div class="search-result-info">Busca: {{ query }}</div>

        <div class="search-result-post-list">
            <div class="search-result-post-list-item" *ngFor="let post of posts; let i = index;">
                <div class="search-result-ost-list-item-title">
                    {{ post.postText ? post.postText.title :
                        post.postForm ? post.postForm.title : '' }}
                </div>

                <div class="search-result-post-list-item-date">
                    {{ post.dateCreated | date: 'dd/MM/yyyy' }}
                </div>

                <div class="search-result-post-list-item-line"></div>

                <button mat-flat-button
                    color="accent"
                    [routerLink]="['/post', post.id]">
                    continuar lendo
                </button>
            </div>
        </div>

        <div class="not-found-alert" *ngIf="!posts.length && !showMore">
            Nenhuma postagem foi encontrada.
        </div>

        <button type="button" mat-button color="accent" (click)="getPosts(true)" *ngIf="!loading && showMore">
            ver mais
        </button>
    </div>

    <app-general-post-list></app-general-post-list>

    <app-footer></app-footer>
</div>
