@import 'variable';

.dashboard-layout {
    width: 100vw;
    height: 100vh;
    background: $color-white;
    position: relative;

    @include mq('desktop') {
        display: flex;
        flex-direction: row;
    }
}

.menu-filter {
    @include mq('desktop', max) {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-black;
        z-index: 900;
        opacity: .5;
    }
}

.showMenu {
    @include mq('desktop', max) {
        display: block;
    }
    @include mq('desktop') {
        flex: 0;
    }
}
