<ngx-ui-loader pbColor="#f0134d" fgsColor="#f0134d" fgsType="rectangle-bounce"></ngx-ui-loader>

<div class="menu-filter" [ngClass]="{'showMenu': showMenu}" (click)="toggleMenu()"></div>

<div class="dashboard-layout">
    <app-menu [ngClass]="{'showMenu': showMenu}" [showMenu]="showMenu" (toggleMenu)="toggleMenu()" (hideMenu)="hideMenu()">
    </app-menu>
    <app-content (toggleMenu)="toggleMenu()">
        <router-outlet></router-outlet>
    </app-content>
</div>
