<app-title sectionUrl="users" section="usuários" [page]="isEdit ? 'Edição' : 'Cadastro'"></app-title>

<div class="register-description" *ngIf="!isEdit">
    Preencha todos os campos do formulário com dados válidos para a criação de um novo usuário para o sistema.
</div>

<div class="register-description" *ngIf="isEdit">
    Qualquer alteração não poderá ser desfeita, altere apenas o que deseja mudar.
</div>

<form [formGroup]="userForm" (submit)="onSubmit()" *ngIf="userForm" class="register-form">
    <mat-form-field appearance="outline">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="nomeCompleto" autocomplete="nope">
        <mat-error *ngIf="userForm.get('nomeCompleto').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="userForm.get('email').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Nome de usuário</mat-label>
        <input matInput formControlName="username" autocomplete="off">
        <mat-error *ngIf="userForm.get('username').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" autocomplete="off" autocomplete="new-password">
        <mat-hint *ngIf="isEdit">Deixe em branco para manter a senha atual</mat-hint>
        <mat-error *ngIf="userForm.get('password').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="(authorities$ | async) as authorities">
        <mat-label>Nível de acesso</mat-label>
        <mat-select [compareWith]="compareObjects" formControlName="authorities" multiple>
            <mat-option *ngFor="let authority of authorities" [value]="authority">
                {{
                    authority.name === 'ROLE_ADMIN' ? 'Administrador' :
                    authority.name === 'ROLE_MODERATOR' ? 'Moderador' :
                    authority.name === 'ROLE_USER' ? 'Usuário' : 'Desconhecido'
                }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('authorities').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="(categories$ | async) as categories">
        <mat-label>Categorias liberadas</mat-label>
        <mat-select [compareWith]="compareObjects" formControlName="categories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category">
                {{ category.name }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('categories').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <app-image-uploader [imageControl]="userForm.get('image')"></app-image-uploader>

    <mat-form-field appearance="outline">
        <mat-label>Nome Público</mat-label>
        <input matInput formControlName="publicName" autocomplete="nope">
        <mat-error *ngIf="userForm.get('publicName').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descrição Pública</mat-label>
        <input matInput formControlName="publicDescription" autocomplete="nope">
        <mat-error *ngIf="userForm.get('publicDescription').hasError('required')">Campo obrigatório!</mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">{{ isEdit ? 'Editar' : 'Criar' }} usuário</button>
</form>
