@import 'variable';

.register-form {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    max-width: 70%;

    @include mq('tablet', max) {
        max-width: 90%;
    }

    .mat-flat-button {
        min-height: 50px;
    }
}

.register-description {
    width: calc(70% - 32px);
    margin: 24px auto;
    padding: 24px 16px;
    background-color: $color-black-light;

    @include mq('tablet', max) {
        width: calc(90% - 32px);
    }
}
