<app-title sectionUrl="users" section="usuários" page="inicio"></app-title>

<app-action-list>
    <button mat-flat-button color="accent" [routerLink]="['register']">
        cadastrar
    </button>
</app-action-list>

<section class="list">
    <div class="list-container" *ngIf="(users$ | async) as users">
        <ng-container *ngFor="let user of users">
            <mat-card *ngIf="user.id !== userLogged.id">
                <mat-card-header>
                    <div mat-card-avatar
                        class="list-image"
                        [ngStyle]="{ 'background-image': 'url(' + getImageUrl(user) + ')' }"></div>
                    <mat-card-title>{{ user.nomeCompleto }}</mat-card-title>
                    <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-actions>
                    <button mat-button [routerLink]="['register', user.id]">
                        <mat-icon>edit</mat-icon>
                        Editar
                    </button>
                    <button mat-button (click)="deleteUser(user.id)">
                        <mat-icon>delete</mat-icon>
                        Excluir
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</section>
