<ngx-ui-loader pbColor="#fcb445" fgsColor="#fcb445" overlayColor="rgba(125,1,38, 1)" fgsType="cube-grid" text="Carregando" textPosition="center-center" textColor="#fcb445"></ngx-ui-loader>

<div class="home">
    <app-top-menu></app-top-menu>

    <app-slide-carousel [slides]="slidePosts"></app-slide-carousel>

    <ng-container *ngFor="let component of indexComponents">
        <app-component-text *ngIf="component.type === 'componentText'" [component]="component"></app-component-text>
        <app-highlight *ngIf="component.type === 'highlight'" [component]="component"></app-highlight>
    </ng-container>

    <app-general-post-list></app-general-post-list>

    <app-footer></app-footer>
</div>

