@import 'variable';

.home {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;

    @include mq('tablet') {
        // Scroll style
        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Bg Scroll */
        &::-webkit-scrollbar-track {
            background: $color-black-light;
        }

        /* Cor do Scroll */
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.54);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    }
}
