<app-title sectionUrl="slide" section="slide" page="Configurar slide da index"></app-title>

<app-slide-add [posts]="posts" (newSlide)="addSlide($event)"></app-slide-add>

<div *ngIf="!!slide.length" cdkDropList class="slide-list" (cdkDropListDropped)="drop($event)">
    <div class="slide-list-item" *ngFor="let slideItem of slide; let i = index;" cdkDrag>
        <mat-icon>drag_indicator</mat-icon>
        <div class="order">
            {{ i + 1 }}
        </div>
        <div class="slide">
            {{ slideItem.post.postText ? slideItem.post.postText.title :
                slideItem.post.postForm ? slideItem.post.postForm.title : '' }}
        </div>
        <div class="action-list">
            <button mat-button color="accent" (click)="deleteSlide(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>

<div class="action" *ngIf="!!slide.length">
    <button mat-flat-button color="primary" (click)="saveSlides()">
        {{ isEdit ? 'Editar' : 'Salvar' }} slide
    </button>
</div>
