@import 'variable';

.slide-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin: auto;

    &-item {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;

        .order {
            flex: 1;
            background-color: $color-black-light;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }

        .slide {
            flex: 4;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .action-list {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:last-child {
            border: none;
        }
    }

    &.cdk-drop-list-dragging &-item:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drag {
    &-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    &-placeholder {
        opacity: 0;
    }

    &-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto;

    .mat-flat-button {
        width: 500px;
        min-height: 50px;
        max-width: 100%;
    }
}

.title {
    width: 500px;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 22px;
    margin: 50px auto 20px;
    text-align: center;
}

