@import 'variable';

.footer {
    width: 100vw;
    min-height: 30vh;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;

    a {
        text-decoration: none;
    }

    &-logo {
        display: flex;
        flex-direction: row;
        padding: 10px 10px 10px 20px;
        margin: 10px auto;
        justify-content: center;

        img {
            max-width: 80vw;
        }
    }

    &-list {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            color: $color-accent;
            justify-content: center;
            padding: 0;

            @include mq('tablet-wide', max) {
                flex-direction: column;
                align-items: center;
            }
        }

        li {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin: 0 10px;

            @include mq('tablet-wide', max) {
                margin: 10px;
            }

            a {
                text-decoration: none;
                color: $color-accent;
                transition: .5s;

                &:hover {
                    color: rgba($color: $color-accent, $alpha: .5);
                }
            }
        }
    }
}
