<div class="footer">
    <a [routerLink]="['']">
        <div class="footer-logo">
            <img src="../../../assets/top-menu.png" alt="rdPortal">
        </div>
    </a>

    <div class="footer-list">
        <ul>
            <li><a href="#">facebook</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">twitter</a></li>
        </ul>
    </div>
</div>
