.not-found-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #969696, $alpha: 1.0);

    p {
        font-size: 24px;
        color: #fff;
    }
}
